.App {
display: flex;
align-items: center;
flex-direction: column;
width: 100vw;
font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.addNewTask {
  height: 45vh;
  background-color: #75a0d1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row; 
}

.list {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 20px;
  flex-direction: row;
  gap: 20px;
}

.task {
  padding-left: 100px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

 